<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.tjoeun.prj.mapper.BbsMapper">

<sql id="bbsColumns">
	author
	,wdate
	,title
	,contents
	,hit
	,pnum
</sql>

<select id="selectByNum"
         resultType="com.tjoeun.prj.vo.BbsVO">
         SELECT num,
			<include refid="bbsColumns" />
         FROM bbs
         WHERE num=#{num}
      </select>
   
<select id="getBbsList" resultType="com.tjoeun.prj.vo.BbsVO">
   
	WITH RECURSIVE tmp1 AS
	(
		SELECT num, author, wdate, title, contents, hit, pnum
	    ,num AS grpno
	    , CONCAT(REPEAT('0',(6-CHAR_LENGTH(CAST(num AS CHAR(30))))),CAST(num AS CHAR(30))) path
	    , 0 AS lvl
		FROM bbs WHERE pnum IS NULL
		
		UNION
		
		SELECT b.num, b.author, b.wdate, b.title, b.contents, b.hit, b.pnum
	    , t.grpno
	    ,CONCAT(t.path,',',CONCAT(REPEAT('0',(6-CHAR_LENGTH(CAST(b.num AS CHAR(30))))),CAST(b.num AS CHAR(30)))) AS path
	    , t.lvl+1 AS lvl
		FROM tmp1 t JOIN bbs b ON t.num=b.pnum
	)
	SELECT num, author, wdate, CONCAT(REPEAT('ㅤ', lvl*2),title) 'title', contents, pnum, path, lvl, hit,grpno
	FROM tmp1
	ORDER BY grpno desc, path asc

</select>

   <insert id="writeBbs" useGeneratedKeys="true" keyProperty="num"
   parameterType="com.tjoeun.prj.vo.BbsVO">
      INSERT INTO bbs
      (
      	author
      	, wdate
      	, title
      	, contents
      	, hit
      	, pnum
      ) VALUES(
	      #{author}
	      ,NOW()
	      ,#{title}
	      ,#{contents}
	      ,NULL
	      ,
	      <choose>
	      	<when test="pnum ==0">
	      		NULL
	      	</when>
	      	<when test="pnum !=0">
	      		#{pnum}
	      	</when>
	      </choose>
      )
   </insert>
   
   <insert id="updateBbs" 
      parameterType="com.tjoeun.prj.vo.BbsVO">
      
      UPDATE bbs
      SET title = #{title}, contents = #{contents}, hit=#{hit}
      WHERE num=#{num}
   </insert>
   
   <delete id="deleteBbs" parameterType="Integer">
   DELETE FROM bbs 
   WHERE num=#{num}
   </delete>
   
   <select id = "search"
   resultType="com.tjoeun.prj.vo.BbsVO">
   SELECT num,author,wdate,title,contents,hit,pnum
   FROM bbs
   <where>
   	<if test = "sKey.equals('num')"> num = #{sVal}
   	</if>
   	<if test = "sKey.equals('title')"> title REGEXP #{sVal}
   	</if>
   	<if test = "sKey.equals('author')"> author REGEXP #{sVal}
   	</if>
   	<if test = "sKey.equals('contents')"> contents REGEXP #{sVal}
   	</if>
   </where>
   ORDER BY num DESC
   </select>

</mapper>